body {
    font-family: 'Urbanist', sans-serif;
}

.main-menu {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding-right: 8px;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    cursor: default;
}

.burger-and-logo {
    display: flex;
    align-items: center;
    gap: 24px;
}

nav {
    display: none;
}

.nav-menu {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.semibold-txt {
    color: #1A1B1B;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.live {
    display: flex;
    padding-left: 0px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    border-left: 1px solid #D4D4D4;
}

.red {
    color: red;
}

@media (min-width: 769px) {
    nav {
        display: block;
    }

    .burger {
        display: none;
    }
}

.news {
    padding: 44px 9px 0px;
}

.regular-txt {
    color: #1A1B1B;
    font-size: 17px;
    line-height: 125%;
    padding: 12px 0px;
}

.first-title {
    text-align: start;
    color: #1A1B1B;
    font-size: 54px;
    line-height: 110%;
    border-bottom: 1px solid #D4D4D4;
    padding: 0px 0px 8px;
}

.big-img {
    width: 100%;
    height: 416px;
    object-fit: cover;
}

.top-block {
    border-bottom: 1px solid #D4D4D4;
}

.top-news {
    padding: 32px 0px;
}

.poland-police {
    position: relative;
}

.img-txt {
    font-size: 16px;
    color: #0B3462;
    text-transform: uppercase;
    position: absolute;
    bottom: 0px;
    background-color: white;
    display: flex;
    width: 81px;
    padding: 10px 20px 10px 0px;
    align-items: flex-start;
}

.extrabold-txt {
    color: #1A1B1B;
    font-size: 24px;
    font-weight: 800;
    line-height: 110%;
}

.subtopic-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
    padding-bottom: 24px;
}

.subtopic-post {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 0px 0px 24px 0px;
}

.subtopic-post:nth-child(1)::after,
.subtopic-post:nth-child(2)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #D4D4D4;
}

.location {
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
}

.bold-txt {
    color: #1A1B1B;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
}

.spec {
    display: flex;
    position: relative;
}

.play {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media (min-width: 768px) {
    .first-title {
        font-size: 62px;
    }

    .news {
        padding: 32px 12px 0px;
    }

    .subtopic-post {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
    }

}

@media (min-width: 900px) {
    .first-title {
        font-size: 62px;
    }

    .news {
        padding: 48px 36px 0px;
        flex-direction: column;
    }

    .top-block {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 24px;
    }

    .subtopic-block {
        display: inline-flex;
        flex-direction: column;
        align-items: stretch;
        gap: 32px;
        padding: 32px 0px;
    }

    .subtopic-img {
        width: 196px;
        height: 110px;
    }

    .main-menu {
        padding: 14px 36px;
    }
}

.title-wrapper {
    padding: 32px 0px;
}

.second-title {
    text-align: start;
    font-size: 34px;
    line-height: 110%;
}

.more-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.more-about-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.more-about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.img-about {
    width: 359px;
    height: 166px;
}

.more-about-content .location {
    display: flex;
    padding: 6px 20px 6px 0px;
    align-items: flex-start;
}

.more-about-content h2 {
    margin-top: -10px;
}

.notation {
    padding: 0px;
    font-size: 16px;
    line-height: 120%;
}

.date {
    color: #1A1B1B;
    font-size: 14px;
    font-weight: 200;
    line-height: 120%;
}

.page {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 42px 0px;
}

.regular {
    display: flex;
    flex-direction: row;
    border-radius: 500px;
    border: 1px solid #D4D4D4;
    width: 37px;
    height: 37px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 120%;
}

.blue {
    color: #006CE5;
}

.no-border {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: -30px;
}

.txt {
    display: none;
}


@media (min-width: 768px) {
    .second-title {
        font-size: 42px;
    }

    .more-about-post {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
        align-self: stretch;
    }

    .more-about-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .img-about {
        width: 296px;
        height: 166px;
    }

    .page {
        padding: 42px 0px;
    }

    .txt {
        display: flex;
    }
}

@media (min-width: 900px) {
    .about-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .title-wrapper {
        display: inline-flex;
        flex-direction: column;
    }

    .more-about {
        display: inline-flex;
        flex-direction: column;
        width: 856px;
        padding: 32px 0px;
    }

    .page {
        padding: 74px 0px 50px;
    }
}

.bottom-wrapper {
    padding-top: 48px;
    padding-bottom: 40px;
    border-top: 3px solid #D4D4D4;
    background: #EEF2F3;
    margin-left: -36px;
    margin-right: -36px;
}

.search-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.search-form {
    display: flex;
    justify-content: center;
}

.search {
    width: 306px;
    background: #DCE4E7;
    border: none;
}

.submit {
    display: none;
}

input::placeholder {
    padding-left: 10px;
}


.search-img {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    background: #006CE5;
}

.tag-head {
    display: flex;
    align-items: center;
    gap: 16px;
}

.medium {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 110%;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 360px;
}

.tag {
    padding: 8px 16px;
    justify-content: center;
    border-radius: 800px;
    background: #FFF;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 120%;
}

@media (min-width: 768px) {
    .tags {
        width: 526px;
    }
}

.footer-logo {
    padding: 32px 0px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.about-logo {
    color: #1A1B1B;
    text-align: center;
    font-size: 16px;
    line-height: 120%;
}

@media (min-width: 768px) {
    .footer-logo {
        padding: 48px 0px;
    }
}

@media (min-width: 900px) {
    .footer-logo {
        padding: 40px 0px;
    }
}